# Environments & Secrets
.env
.env.*
!.env.example

# Python
venv/
.venv/
env/
ENV/
__pycache__/
*.py[cod]
*$py.class
*.so

# Databases
*.sqlite3
db.sqlite3

# IDEs & Editors
.vscode/
.idea/
*.swp
*.swo

# Logs & Static Files
*.log
staticfiles/
media/
.DS_Store